/* colors */
$white-color: #fff;
$black-color: #000;

$error: #ff7373;
$complete: #79ed49;

$placeholder: #b0b0b0;
$form-item-color: #b0b0b0;

$input-text: #8492af;
$input-border: #f6f6f6;
$input-border--hover: #eeebeb;

$border: #d4d9e3;
$border-light: #ccc;

$background: #f6f7fa;

$theme-color: #0e1a35;

$theme-dark-color: #113593;
$theme-dark-color-items: #5584ff;
$theme-dark-color-items--hover: #5584ff;

$theme-light-color: #4c50c6;
$theme-light-color-items: #4f39d7;
$theme-light-color-items--hover: #5584ff;

$nav-item-color: #122143;

$decor-item--hover: #3b56db;
$decor-item--active: #5584ff;

$btn: #799efb;
$btn-decor: #4c7bf6;
$btn--disabled: #ccc;

$text-shadow: #b1c0e2;
$text-color: #767bb0;
$sub-headline-color: #8492af;

$headline-color: #2f50a8;


/* sidebar */
$sidebar-width-xs: 100%;
$sidebar-width-md: 260px;
$sidebar-width-lg: 320px;

$wrapper-width-xs: 100%;
$wrapper-width-md: calc(100% - 260px);
$wrapper-width-lg: calc(100% - 320px);


/* transitions */
$transition: .4s;
$short-transition: .3s;
$long-transition: .6s;


/* fonts */
$base-fonts: 'Roboto', 'Helvetica', 'Open Sans', 'sans-serif', 'Arial';


